<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">

<h1>Covid-19</h1>

<div class="box-center">
  <label for="">Country: </label>
  <select (change)="onChange($event.target.value)">
    <option *ngFor="let location of locations" [value]="location.id">
      {{location.country + " " + location.province}}</option>
  </select>
</div>

<div class="box-center">
  <div class="item1">
    <h6>CONFIRMADOS</h6>  
    <p>{{confirmed}}</p>
  </div>

  <div class="item2">
    <h6>MORTES</h6>
    <p>{{deaths}}</p>
  </div>

  <div class="item3">
    <h6>RECUPERADOS</h6>
    <p>{{recovered}}</p>
  </div>


</div>