<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">

<h1>Covid-19</h1>

<!--<form [formGroup]="selectedForm">
  <label for="">Country:</label>
  <select formControlName="location">
    <option [value]="location.id" **ngFor="let location of locations">{{
      location.country
    }}</option>
  </select>
</form> -->

<div class="box-center">
  <label for="">Country:</label>
  <select **ngFor="let location of locations">
    <option [value]="location.id">{{
      location.country
    }}</option>
  </select>
</div>

<div class="box-center">
  <div class="item1">
    <h6>CONFIRMADOS</h6>  
    <p>{{confirmed}}</p>
  </div>

  <div class="item2">
    <h6>MORTES</h6>
    <p>{{deaths}}</p>
  </div>

  <div class="item3">
    <h6>RECUPERADOS</h6>
    <p>{{recovered}}</p>
  </div>


</div>